*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

header {
	height: 100%;
	width: 100%;
}

#particles-js {
    background-image: url("../images/bg.png");
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

nav a img {
    height:45px;
}

nav ul {
    display: flex;
}

nav ul li a {
    display: flex;
    align-items: center;
    height: 50px;
    line-height: 45px;
    margin: 5px;
    padding: 0px 20px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #200e32;
}

nav ul li a:hover {
    color: #c493e6;
    text-shadow: 5px 5px 30px #000000;
    transition: all ease 0.2s;
}

.presentation {
    width: 90%;
    color:#FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.presentation h1 {
    font-size: 40px;
}

.presentation p {
    margin: 10px 0 20px;
    font-size: 20px;
}

.presentation a {
    display: flex;
    width: 180px;
    height: 40px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #200e32;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
}

.presentation a:hover {
    background-color: #c493e6;
    transition: all ease 0.2s;
}

@media(max-width: 700px) {
    .presentation h1{
        font-size: 20px;
    }
    .presentation p {
        font-size: 15px;
    }
}

.about {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    color: #200e32;
}

.about h1 {
    text-align: center;
    font-size: 35px;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.content h1 {
    text-align: left;
    font-size: 25px;
}

.gauche {
    width: 50%;
}

.gauche p {
    margin: 15px 0px;
    font-size: 18px;
}

.gauche a {
    display: flex;
    width: 180px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #200e32;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
}

.gauche a:hover {
    background-color: #c493e6;
    transition: all ease 0.2s;
}

.droite {
    flex: 1;
    margin-left: 30px;
}

.droite .line {
    margin-top: 15px;
}
.droite .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.droite .info span {
    font-weight: 500;
}

.droite .barre {
    background-color: lightgrey;
    height: 5px;
    border-radius: 20px;
    width: 100%;
    position: relative;
}

.droite .barre::before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #200e32;
}

.droite .html::before {
    width: 70%;
    border-radius: 20px;
}

.droite .css::before {
    width: 60%;
    border-radius: 20px;
}

.droite .sql::before {
    width: 50%;
    border-radius: 20px;
}

.droite .java::before {
    width: 55%;
    border-radius: 20px;
}
