/* Général */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

header {
	height: 100%;
	width: 100%;
}

#particles-js {
    background-image: url("../images/bg.png");
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

nav a img {
    height:45px;
}

nav ul {
    display: flex;
}

nav ul li a {
    display: flex;
    align-items: center;
    height: 50px;
    line-height: 45px;
    margin: 5px;
    padding: 0px 20px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #200e32;
}

nav ul li a:hover {
    color: #c493e6;
    text-shadow: 5px 5px 30px #000000;
    transition: all ease 0.2s;
}

nav label > img {
    height: 45px;
    margin-left: 10px;
    margin-top: 5px;
    display: none;
}

nav label {
    display: none;
}

#check {
    display: none;
}

/* Accueil */

.presentation {
    width: 90%;
    color:#FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.presentation h1 {
    font-size: 40px;
}

.presentation p {
    margin: 10px 0 20px;
    font-size: 20px;
}

.presentation a {
    display: flex;
    width: 180px;
    height: 40px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #27123d;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
}

.presentation a:hover {
    background-color: #c493e6;
    transition: all ease 0.2s;
}

@media(max-width: 768px) {
    .presentation h1{
        font-size: 25px;
    }
    .presentation p {
        font-size: 17px;
    }
    .presentation {
        position: relative;
        top: 0;
        transform: translate(-50%,60%);
    }
    
    nav {
        display: block;
    }

    nav a img {
        display: none;
    }

    nav ul {
        display: block;
        display: none;
    }

    nav label {
        display: inline;
    }

    nav label > img {
        display: inline;
    }
    
    #check:checked ~ ul {
        display: block;
    }
}

/* Compétences */

.about {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    color: #30174a;
}

.about h1 {
    text-align: center;
    font-size: 35px;
    margin: 10px 0;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.gauche h1 {
    text-align: left;
    font-size: 25px;
}

.gauche {
    width: 50%;
}

.gauche p {
    margin: 15px 0px;
    font-size: 18px;
}

.gauche a {
    display: flex;
    width: 180px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #30174a;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
}

.gauche a:hover {
    background-color: #c493e6;
    transition: all ease 0.2s;
}

.droite {
    flex: 1;
    margin-left: 30px;
}

.droite .line {
    margin-top: 15px;
}
.droite .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.droite .info span {
    font-weight: 500;
}

.droite .barre {
    background-color: lightgrey;
    height: 5px;
    border-radius: 20px;
    width: 100%;
    position: relative;
}

.droite .barre::before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #29143f;
}

.droite .html::before {
    width: 70%;
    border-radius: 20px;
}

.droite .css::before {
    width: 60%;
    border-radius: 20px;
}

.droite .sql::before {
    width: 50%;
    border-radius: 20px;
}

.droite .java::before {
    width: 55%;
    border-radius: 20px;
}

@media(max-width: 768px) {
    .content {
        display: block;
        justify-content: center;
    }

    .gauche {
        width: 100%;
        text-align: center;
    }

    .gauche h1 {
        text-align: center;
    }

    .gauche a {
        margin: auto;
    }

    .droite {
        margin-left: 0;
        margin-bottom: 30px;
    }
}

/* Parcours */

.parcours {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timeline {
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
}

.timeline ul li {
    padding: 15px;
    background-color: #38174e;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
}

.time-content h2{
    margin-bottom: 5px;
}

.time-content p {
    font-size: 14px;
    line-height: 30px;
}

.time-content h3 {
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}

@media screen and (min-width: 768px) {
    .timeline::before {
        content: '';
        position: absolute;
        height: 90%;
        width: 2px;
        background-color: #30174a;
        left: 50%;
        transform: translate(-50%);
    }

    .timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    
    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translate(-30px);
    }
    
    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translate(30px);
    }

    .timeline ul li::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #30174a;
        border-radius: 20px;
        top: 0;
    }

    .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -30px;
    }

    .timeline ul li:nth-child(even)::after {
        transform: translate(-50%, -50%);
        left: -30px;
    }

    .timeline ul li:hover::after {
        background-color: #c493e6;
    }
}

/* Projets */

.projets {
    width: 80%;
    margin: auto;
    padding: 0 20px;
    color: #FFFFFF;
    font-size: 18px;
}

.projets h1 {
    text-align: center;
    font-size: 35px;
    color:#30174a;
    margin: 10px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.test {
    height: 370px;
    width: 350px;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: #30174a;
    text-align: center;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.5);
    margin: 20px 0;
}
